body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EDEDED;
}

.container {
    margin: 0 auto;
    width: 1250px;
    display: flex;
    padding: 50px;
}

.items-column {
    width: 73%;
    border-right: 4px solid #1a1f1680;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: var(--font-dark, #1A1F16);
    margin-bottom: 32px;
}

.back-btn__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.back-btn__text {
    font-size: 20px;
    line-height: normal;
}

.cart-check-title {
    font-size: 48.83px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
    margin-bottom: 34px;
}

.selected-items-cart {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 97%;
}

.selected-item-cart {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 21px;
    background: var(--ui-white, #FFF);
}

.selected-item-cart__img {
    width: 203.536px;
    height: 254px;
}

.selected-item-cart__model {
    margin-bottom: 8px;
    font-size: 31.25px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__series {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: normal;
    color: var(--font-tertiary, #60695C);
}

.selected-item-cart__short-description {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.4px;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__price-rating-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.selected-item-cart__price-wrapper {
    display: flex;
    gap: 10px;
}

.selected-item-cart__price {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.x {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__quantity {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__quantity-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selected-item-cart__quantity-minus {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    background-image: url('./minus.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.selected-item-cart__quantity-index {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__quantity-plus {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    background-image: url('./plus.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.go-to-checkout-btn {
    width: 154px;
    height: 43px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url('../styles/go-to-checkout-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.orders-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    max-width: 336px;
    padding: 0 20px 20px 20px;
}

.cart-title {
    font-size: 39.06px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
    margin-bottom: 10px;
}

.go-to-cart-btn {
    display: inline-block;
    width: 164px;
    height: 43px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url('../styles/go-to-cart-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 44px;
}

.orders-title {
    font-size: 39.06px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    gap: 8px;
    margin-bottom: 34px;
}

.selected-item-img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
}

.selected-items-sum {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

#loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 100vh;
    z-index: 1000;
}