body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EDEDED;
}

.container {
    margin: 0 auto;
    width: 1250px;
    display: flex;
    padding: 50px;
}

.items-column {
    width: 73%;
}

.back-btn {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: var(--font-dark, #1A1F16);
    margin-bottom: 32px;
}

.back-btn__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.back-btn__text {
    font-size: 20px;
    line-height: normal;
}

.cart-check-title {
    font-size: 31.25px;
    line-height: normal;
    text-transform: uppercase;
    color: var(--font-dark, #1A1F16);
}

.selected-items-cart {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.selected-item-cart {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: var(--ui-white, #FFF);
    border-bottom: 1px solid #BFD1E5;
}

.selected-item-cart__img {
    width: 203.536px;
    height: 254px;
}

.selected-item-cart__model {
    margin-bottom: 8px;
    font-size: 31.25px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__series {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: normal;
    color: var(--font-tertiary, #60695C);
}

.selected-item-cart__short-description {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.4px;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__price-rating-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.selected-item-cart__price-wrapper {
    display: flex;
    gap: 10px;
}

.selected-item-cart__price {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.x {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__quantity {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__quantity-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selected-item-cart__quantity-minus {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    background-image: url('./minus.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.selected-item-cart__quantity-index {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-item-cart__quantity-plus {
    width: 26px;
    height: 26px;
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: pointer;
    background-image: url('./plus.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.go-to-checkout-btn {
    width: 154px;
    height: 43px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url('../styles/go-to-checkout-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.orders-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    max-width: 336px;
    padding: 0 20px 20px 20px;
}

.cart-title {
    font-size: 39.06px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
    margin-bottom: 10px;
}

.go-to-cart-btn {
    display: inline-block;
    width: 164px;
    height: 43px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url('../styles/go-to-cart-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 44px;
}

.orders-title {
    font-size: 39.06px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    gap: 8px;
    margin-bottom: 34px;
}

.selected-item-img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
}

.selected-items-sum {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.checkout-element__title {
    font-size: 31.25px;
    line-height: normal;
    text-transform: uppercase;
    color: var(--font-dark, #1A1F16);
}

.checkout-elements {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 97%;
}

.checkout-element-info {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    border-radius: 13px;
    background: var(--ui-white, #FFF);
}

.checkout-element-pay {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    border-radius: 13px;
    background: var(--ui-white, #FFF);
}

.selected-items-check {
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 8px;
    border-radius: 13px;
    background: var(--ui-white, #FFF);
}

.sum {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 250px;
    border-radius: 12px;
    background: var(--ui-white, #FFF);
    margin-top: 59px;
}

.sum-item {
    display: flex;
    justify-content: space-between;
}

.sum-title {
    font-size: 20px;
    line-height: normal;
    color: #000;
}

.goods-title, .goods-sum, .delivery-title, .delivery-cost {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--font-tertiary, #60695C);
}

.divider {
    padding-bottom: 15px;
    border-bottom: 1px solid #BFD1E5;
}

.sum-up-title, .sum-up-amount {
    font-size: 20px;
    line-height: normal;
    color: var(--font-danger, #E5252C);
}

.checkout-btn {
    padding: 8px 24px;
    width: 100%;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    border-radius: 11px;
    background: var(--ui-dark, #1A1F16);
}

.checkout-btn__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--font-white, #FFF);
}

.pop-up, .pop-up-payment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
}

.pop-up-elements, .pop-up-elements-payment {
    position: relative;
    padding: 32px;
    width: 680px;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 15px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pop-up-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.pop-up-element-payment {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.name, .address, .city, .telephone {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
    opacity: 0.5;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 13px;
    border: none;
    background: var(--ui-white, #FFF);
    box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15);
}

label {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
    color: var(--font-placeholder, rgba(26, 31, 22, 0.50));
}

.save, .save-btn {
    padding: 8px 24px;
    width: 100%;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    border-radius: 11px;
    background: var(--ui-dark, #1A1F16);
}

.save__text, .save-btn__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: normal;
    color: var(--font-white, #FFF);
}

.pop-up-open, .pop-up-payment-open {
    opacity: 1;
    visibility: visible;
}

.customer-info-change-button, .payment-type-change-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    border-radius: 11px;
    border: 1px solid var(--ui-dark, #1A1F16);
}

.checkout-element {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customers-name, .customers-address, .customers-city, .customers-telephone {
    font-size: 20px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.checkout-info, .payment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-type {
    display: flex;
    gap: 12px;
    align-items: center;
}

.payment-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

#loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 100vh;
    z-index: 1000;
}