body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EDEDED;
}

.container {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    padding: 50px;
}

.items-column {
    width: 73%;
}

.items {
    display: flex;
    flex-wrap: wrap;
    border-right: 4px solid #1a1f1680;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 185px;
    flex-grow: 1;
}

.item-img {
    width: 175px;
    height: 230px;
    margin-bottom: 16px;
}

.item-model-wrapper {
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
    color: var(--font-dark, #1A1F16);
    flex: 1 1 100%;
}

.item-model {
    margin: 0 0 5px 8px;
}

.item-series-wrapper {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.32px;
    text-decoration: none;
    color: var(--font-tertiary, #60695C);
}

.item-series {
    margin: 0 0 15px 8px;
}

.item-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 8px;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 20px;
}

.item-add-to-cart-btn {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url('../styles/cart-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.orders-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    max-width: 336px;
    padding: 0 20px 20px 20px;
}

.cart-title {
    font-size: 39.06px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
    margin-bottom: 10px;
}

.go-to-cart-btn {
    display: inline-block;
    width: 164px;
    height: 43px;
    border: none;
    outline: none;
    appearance: none;
    background-image: url('../styles/go-to-cart-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 44px;
}

.orders-title {
    font-size: 39.06px;
    line-height: normal;
    color: var(--font-dark, #1A1F16);
}

.selected-items {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    gap: 8px;
    margin-bottom: 20px;
}

.selected-item-img {
    width: 84px;
    height: 84px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
}

#loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 100vh;
    z-index: 1000;
}